*{
	padding: 0;
	margin: 0;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}
body{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
section{
	text-align: center;
	postion: relative;
}
.login{
	color: white;
	height: 200px;
	width: 350px;
	position:absolute;
        top:50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -175px;
    	border: 3px solid #86aecc;
	border-radius: 10px;
        background-color: rgba(250,250,250,0.3);
	font-weight: bold;
}
.login input[type="text"], input[type="password"]{
	background: none;
    	border: 3px solid #2793e6;
	border-radius: 10px;
	width: 100%;
	margin-left: 5px;
}
.login input[type="submit"]{
	font-size: 10.5pt;
	border: none;
	color: white;
	cursor: pointer;
	padding: 7px 15px;
	background: linear-gradient(to bottom, rgba(164,179,86,1) 0%, rgba(115,136,12,1) 48%, rgba(115,136,12,1) 100%);                                                
	transition: all 0.3s ease-in-out;
}
.login input[type="button"]:hover{
	border-radius: 10px;
}
.login-img{
	width: 90%;
	margin-left: 5px;
	margin-right: 5px;
}